:root
{
    --purple: rgb(123,31,162);
    --violet: rgb(103,58,183);
    --pink: rgb(244,143,177);
}
*
{
    margin: 0;
    padding: 0;
}
@keyframes background-pan
{
    from {
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    
    }
}
 @keyframes colorc
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}
@keyframes backgroundmove
{
    0%
    {
        background-position: -1% center;
    }
    100%
    {
        background-position: -200% center;
    } 
} 
body
{
    overflow-x: hidden;
    background-color: rgb(20, 20, 20);
    color: white;
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    color: inherit;
}
h1
{
    text-align: center;
    font-size: 250%;
    font-weight: bold; 
    text-decoration: underline yellowgreen;
    clear: both;
}
h2
{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
.container
{
    width: 100%;
    height: 100%;
    position: relative;
}
 .container::before
{
    background-image: radial-gradient(
        rgba(255,255,255, 0.1) 3px,
        transparent 10px
    );
    opacity: 1;
    background-size: 100px 100px;
    animation: colorc 5s linear infinite, backgroundmove 25s infinite;;
    position: absolute;
    width: 100%;
    height: 100%;
    content: ',';
    color: rgba(255, 255, 255, 0);
} 
.menu
{
    width: 100%;
    height: 150px;
    display: flex;
    transition-duration: 1s;
}
.menu-tile
{
    position: relative;
    background: rgba(255, 255, 255, 0.06);
    padding: 0.5rem 1rem;
    font-size: 300%;
    color: white;
    cursor: pointer;
    overflow: hidden;
    width: 31%;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-tile:nth-child(3)
{
    width: 38%;
}

.menu-tile::before
{
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.2),  transparent);
    transform: translate(-50%, -50%);
    transition: width 0.01s ease, height 0.01s ease;
}
.menu-tile:hover::before 
{
    --size: 275px;
}
.menu-tile:nth-child(3)
{
    width: 38%;
}
.menu-tile:nth-child(1):hover:nth-child(1)
{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.menu-tile:nth-child(1):hover:nth-child(2), :nth-child(3)
{
    width: 25%;
}
/*  */
.menu-tile:nth-child(2):hover:nth-child(2)
{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.menu-tile:nth-child(2):hover:nth-child(1), :nth-child(3)
{
    width: 25%;
}
/*  */
.menu-tile:nth-child(3):hover:nth-child(3)
{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.info
{
    width: 100%;
    height: 400px;
    margin-left: 100%;
    transition-duration: 1.5s;
}
.pfp
{
    width: 30%;
    height: 100%;
    float: left;
}
.pht
{
    width: 100%;
    height: 100%;
    background-image: url(ikona.ico);
    background-size: cover;
    transition-duration: 1s;
}
.description
{
    width: 70%;
    height: 100%;
    float: left;
    font-size: 150%;
}
.info2
{
    width: 100%;
    height: 400px;
    transition-duration: 1.5s;
    margin-left: -100%;
}
.pfp2
{
    width: 30%;
    height: 100%;
    float: left;
}
.pht2
{
    width: 100%;
    height: 100%;
    background-image: url(js.png);
    background-size: cover;
    transition-duration: 1s;
}
.description2
{
    width: 70%;
    height: 100%;
    float: left;
    font-size: 150%;
}
p::first-letter
{
    font-size: 175%;
}

.name
{
    animation: background-pan 3s linear infinite;

    font-family: 'Caveat', cursive;
    width: 50%;
    text-align: center;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple) 
        );
    font-size: 600%;
    margin-left: auto;
    margin-right: auto;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    margin-top: 5%;
    opacity: 1;
}
.filler
{
    width: 100%;
    height: 5%;
}
.project
{
    width: 100%;
    height: 20%;
}
