*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
}
.log
{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    display: none;
}
.enemy
{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#enemyunit
{
    width: 15%;
    height: 250px;
    outline: 1px solid black;
}

.player
{
    width: 80%;
    height: 40%;
    margin: auto;
    background-color: red;
    display: block; 
    overflow: hidden;
}
.flee
{
    width: 25%;
    height: 100%;
    background-color: blue;
    margin-right: 1px solid white;
    float: left;
    clear: both;

}
.UI
{
    width: 75%;
    height: 100%;
    float: left;
    background-color: red;
    font-size: 250%;
}

.flee > ul 
{
    list-style-type: none;
    padding: 20px;
    font-size: 250%;
    clear: both;
}

#character
{
    width: 100%;
    height: 20%;
    padding: 20px;
    clear: both;
}
.character_title
{
    width: 30%;
    height: 100%;
    float: left;
}
.character_stats
{
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
}
.HPbar
{
    width: 100%;
    height: 50%;
    background-color: blue;
}
.options
{
    width: 25%;
    height: 100%;
    float: left;
    background-color: green;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.option
{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}