*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(floor.jpg);
    background-size: cover;
}
.table
{   
    margin: auto;
    margin-top: 5%;
    width: 80%;
    height: 500px;
    background-image: url(table.jpg);
    background-size: cover;
    outline: 10px solid rgba(233,201,152,255);
    overflow-wrap: break-word;
    border-radius: 10px;
    position: relative;
}
.counter
{
    width: 17%;
    height: 25%;
    font-size: 200%;
    position: absolute;
}
.tophalf
{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.bottomhalf
{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.rock
{
    width: 10%;
    height: 200px;
    text-align: center;
    font-size: 200%;
    outline: 1px solid black;
    margin-top: -4%;
    transform: rotate(200deg);
    background-color: gray;
    z-index: 1;
    transition-duration: 0.5s;
}

.paper
{
    width: 10%;
    height: 200px;
    text-align: center;
    font-size: 200%;
    outline: 1px solid black;
    margin-top: -2%;
    transform: rotate(180deg);
    background-color: cyan;
    z-index: 2;
    transition-duration: 0.5s;
}

.scizzors
{
    width: 10%;
    height: 200px;
    text-align: center;
    font-size: 200%;
    outline: 1px solid black;
    margin-top: -4%;
    transform: rotate(160deg);
    background-color: silver;
    z-index: 1;
    transition-duration: 0.5s;
}



.p2c1
{
    width: 10%;
    height: 200px;
    text-align: center;
    font-size: 200%;
    outline: 1px solid black;
    margin-bottom: -4%;
    transform: rotate(340deg);
    background-color: gray;
    z-index: 1;
    transition-duration: 0.5s;
}
.p2c1:hover
{
    z-index: 3;
    transform: rotate(360deg);
    margin-bottom: 0;
}
.p2c2
{
    width: 10%;
    height: 200px;
    text-align: center;
    font-size: 200%;
    outline: 1px solid black;
    margin-bottom: -2%;
    background-color: cyan;
    z-index: 2;
    transition-duration: 0.5s;
}
.p2c2:hover
{
    z-index: 3;
    transform: rotate(0deg);
    margin-bottom: 0;
}
.p2c3
{
    width: 10%;
    height: 200px;
    text-align: center;
    font-size: 200%;
    outline: 1px solid black;
    margin-bottom: -4%;
    transform: rotate(20deg);
    background-color: silver;
    z-index: 1;
    transition-duration: 0.5s;
}
.p2c3:hover
{
    z-index: 3;
    transform: rotate(0deg);
    margin-bottom: 0;
}